/* Pink connect button */
.connect-sensor-btn {
  background: rgb(250, 194, 211);
  color: black;
  border: none;
  border-radius: 6px;
  padding: 10px 24px;
  font-size: 1rem;
  font-family: "Inconsolata", monospace;
  cursor: pointer;
  transition: background 0.2s;
}
.connect-sensor-btn:hover {
  background: rgb(251, 161, 188);
  cursor: pointer;
  transform: translateY(-3px)
}
/*comment*/
.connect-sensor-btn:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
